accessory:
  id: nibe-
  services:
    - type: AccessoryInformation
      characteristics:
        - type: Manufacturer
          value: Nibe
        - type: Model
          id: 1
          attribute: displayValue
        - type: SerialNumber
          id: 2
          attribute: displayValue
accessoriesConfiguration:
  - id: average-outdoor-temperature
    name: average-outdoor-temperature
    condition: 
      parameterIds: [40067]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 40067
            refresh: true
          - type: Name
            value: temperature.average.name
            translate: true
  - id: outdoor-temperature-40004
    name: outdoor-temperature
    condition: 
      parameterIds: [40004]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 40004
            refresh: true
          - type: Name
            value: temperature.current.name
            translate: true
  - id: outdoor-temperature-44362
    name: outdoor-temperature
    condition: 
      parameterIds: [44362]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 44362
            refresh: true
          - type: Name
            value: temperature.current.name
            translate: true
      - type: AccessoryInformation
        characteristics:
          - type: SerialNumber
            value: "00000000"
  - id: hot-water-top
    name: hot-water-top
    condition: 
      parameterIds: [40013]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 40013
            refresh: true
          - type: Name
            value: temperature.top.name
            translate: true
  - id: hot-water
    name: hot-water
    condition: 
      parameterIds: [40014,40008]
    services:
      - type: HeaterCooler
        characteristics:
          - type: CurrentTemperature
            id: 40014
            refresh: true
          - type: Active
            provider:
              name: HeatMediumFlowMapper
              params:
                temperatureParamId: 40008
                heatPompParamId: 43437
                type: hotwater
            mapper:
              - 1: 0
              - 2: 1
            refresh: true
            props:
              perms: [ "pr" ]
          - type: CurrentHeaterCoolerState
            provider:
              name: HeatMediumFlowMapper
              params:
                temperatureParamId: 40008
                heatPompParamId: 43437
                type: hotwater
            refresh: true
            props:
              maxValue: 2
              minValue: 1
              validValues: [1, 2]
              perms: [ "pr" ]
          - type: TargetHeaterCoolerState
            value: 0
            props:
              maxValue: 0
              minValue: 0
              validValues: [0]
              perms: [ "pr" ]
          - type: TemperatureDisplayUnits
            id: 40014
            attribute: unit
            mapper:
              - "°F": 1
              - "default": 0
            props:
              perms: ["pr"]
            refresh: true
          - type: Name
            value: temperature.current.name
            translate: true
          - type: HeatingThresholdTemperature
            provider:
              name: MaxValue
              params:
                ids: [40008,40014]
            refresh: true
            props:
              maxValue: 70
              perms: [ "pr" ]
            condition:
              provider:
                name: IsHeating
                params:
                  temperatureParamId: 40008
                  heatPompParamId: 43437
                  type: hotwater
  - id: hot-water-temporary-lux
    name: hot-water-temporary-lux
    condition:
      parameterIds: [48132,40014,40008] # +conditions from hot water
    services:
      - type: Switch
        characteristics:
          - type: On
            id: 48132
            refresh: true
            mapper:
              - 0: false
              - default: true
            manage:
              id: 48132
              mapper:
                - true: 4
                - false: 0
          - type: Name
            value: name
            translate: true
  - id: ventilation-exhaust-air
    name: ventilation-exhaust-air
    condition: 
      parameterIds: [40025]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 40025
            refresh: true
          - type: Name
            value: temperature.name
            translate: true
  - id: ventilation-extract-air
    name: ventilation-extract-air
    condition: 
      parameterIds: [40026]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 40026
            refresh: true
          - type: Name
            value: temperature.name
            translate: true
  - id: ventilation-supply-air
    name: ventilation-supply-air
    condition: 
      parameterIds: [40075]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 40075
            refresh: true
          - type: Name
            value: temperature.name
            translate: true
  - id: ventilation-outdoor
    name: ventilation-outdoor
    condition: 
      parameterIds: [40183]
    services:
      - type: TemperatureSensor
        characteristics:
          - type: CurrentTemperature
            id: 40183
            refresh: true
          - type: Name
            value: temperature.name
            translate: true
  - id: ers-fan
    name: ers-fan
    condition: 
      parameterIds: [40311,40312]
    services:
      - type: Fanv2
        characteristics:
          - type: Active
            provider:
              name: MaxValue
              params:
                ids: [40311, 40312]
            refresh: true
            parser: graterThan0
            mapper:
              - true: 1
              - false: 0
            manage:
              id: 47260
              provider:
                name: VentilationRotationSpeedSetter
                steps: [48857,48856,48855,48854,48853] # ERS_1_EXHAUST_FAN_SPEED_NORMAL, 1, 2, 3, 4
          - type: CurrentFanState
            provider:
              name: MaxValue
              params:
                ids: [40311, 40312]
            refresh: true
            parser: graterThan0
            mapper:
              - true: 2
              - false: 1
          - type: RotationSpeed
            provider:
              name: MaxValue
              params:
                ids: [40311, 40312]
            refresh: true
            manage:
              id: 47260
              provider:
                name: VentilationRotationSpeedStepSetter
                params:
                  ids: [40311, 40312]
                  steps: [48857,48856,48855,48854,48853] # ERS_1_EXHAUST_FAN_SPEED_NORMAL, 1, 2, 3, 4
          - type: Name
            value: fan.name
            translate: true
  - id: ventilation-fan
    name: ventilation-fan
    condition: 
      parameterIds: [10001]
    services:
      - type: Fanv2
        characteristics:
          - type: Active
            id: 10001
            refresh: true
            parser: graterThan0
            mapper:
              - true: 1
              - false: 0
            manage:
              id: 47260
              provider:
                name: VentilationRotationSpeedSetter
                steps: [47265,47264,47263,47262,47261] # exhaust_speed_normal, 1, 2, 3, 4
          - type: CurrentFanState
            id: 10001
            refresh: true
            parser: graterThan0
            mapper:
              - true: 2
              - false: 1
          - type: RotationSpeed
            id: 10001
            refresh: true
            manage:
              id: 47260
              provider:
                name: VentilationRotationSpeedStepSetter
                params:
                  ids: [10001]
                  steps: [47265,47264,47263,47262,47261] # exhaust_speed_normal, 1, 2, 3, 4
          - type: Name
            value: fan.name
            translate: true
  - id: heating-cooling #Thermostat
    name: heating-cooling
    condition: 
      parameterIds: [40008,43437]
    services:
      - type: HeaterCooler
        characteristics:
          - type: CurrentTemperature
            provider:
              name: HeatMediumFlowTeperature
              params:
                temperatureParamId: 40008
                heatPompParamId: 43437
                calculatedCoolingTemperatureParamId: 44270
                calculatedHeatingTemperatureParamId: 43009
                type: heatingcooling
                outdoorTemperatureParamId: 40004
                coolingStartTemperatureParamId: 47374
            refresh: true
          - type: Active
            provider:
              name: HeatMediumFlowMapper
              params:
                temperatureParamId: 40008
                heatPompParamId: 43437
                calculatedCoolingTemperatureParamId: 44270
                type: heatingcooling
            mapper:
              - 1: 0
              - 2: 1
              - 3: 1
            refresh: true
            props:
              perms: [ "pr" ]
          - type: CurrentHeaterCoolerState
            provider:
              name: HeatMediumFlowMapper
              params:
                temperatureParamId: 40008
                heatPompParamId: 43437
                calculatedCoolingTemperatureParamId: 44270
                type: heatingcooling
            refresh: true
            props:
              maxValue: 3
              minValue: 1
              validValues: [1, 2, 3]
              perms: [ "pr" ]
          - type: TargetHeaterCoolerState
            value: 0
            props:
              maxValue: 0
              minValue: 0
              validValues: [0]
              perms: [ "pr" ]
          - type: TemperatureDisplayUnits
            id: 40008
            attribute: unit
            mapper:
              - "°F": 1
              - "default": 0
            props:
              perms: ["pr"]
            refresh: true
          - type: Name
            value: name
            translate: true
          - type: HeatingThresholdTemperature #
            id: 43009
            props:
              maxValue: 34
            refresh: true
            condition:
              provider:
                name: IsHeating
                params:
                  temperatureParamId: 40008
                  heatPompParamId: 43437
                  calculatedCoolingTemperatureParamId: 44270
                  type: heatingcooling
            # manage: 47011, -10 - +10
          - type: CoolingThresholdTemperature #
            id: 44270 #
            props:
              minValue: 18
            refresh: true
            condition:
              provider:
                name: IsCooling
                params:
                  temperatureParamId: 40008
                  heatPompParamId: 43437
                  calculatedCoolingTemperatureParamId: 44270
                  type: heatingcooling
            # manage: 48739, -10 - +10